body{
    margin: 0;
    padding: 0;
}
.title{
    color: green;
    text-align: center;
    font-size: 50px;

}
.razib{
    display: flex;
}
div h1{
    font-size: 50px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
    padding-top: 50px;
}
.width{
    padding-top: 180px;
    padding-left: 30px;
    padding-right: 20px;

}
a{
    text-decoration: none;
    background-image: linear-gradient(green,red,green);
    color: honeydew;
    border-radius: 20px;
    
    padding: 10px 40px;
}
.uddin{
    text-align: center;
    font-size: 40px;
}
.sultan{
    justify-content: space-around;

    width: 40%;
    margin: 5% 5%;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    text-align: left;
    box-shadow:10px 10px 50px gray ;
}
footer {
    text-align: center;
}